@import url('./variables.css');
@import url('./base.css');

.main-header {
    height: 3.5rem;
    background-color: var(--white);
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
}

.logo {
    font-size: 1.1rem;
    color: var(--text-black);
}

nav {
    width: 100%;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: .5rem;
    font-size: var(--font-normal);
}

.slider {
    position: relative;
    padding: 2rem;
}

.slider-hero {
    border-radius: .7rem;
    object-fit: cover;
    height: 280px;
    border-radius: .7rem;
}

.slider-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 2rem;
}

.slider-title {
    color: var(--text-white);
    font-size: var(--font-xlarge);
}

.slider-description {
    color: var(--text-white);
    font-size: var(--font-normal);
    max-width: 80%;
    margin-top: 1rem;
}

.slider-card {
    position: absolute;
    bottom: -50%;
    background-color: rgba(255 255 255/ .9);
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: .8rem;
    padding: 0.5rem;
    box-shadow: 0 5px 5px var(--gray-50);
    border: 1px solid var(--gray-50);
}

.actions {
    padding: 2rem 0;
}

.actions-title {
    font-size: var(--font-normal);
}

.actions-description {
    font-size: var(--font-small);
}

.actions-card {
    padding: 0 1rem;
}

.actions-card:nth-child(1) {
    border-right: 1px solid var(--gray-50);
}

.actions-card:nth-child(2) {
    border-right: 1px solid var(--gray-50);
}

.actions-card:nth-child(3) {
    border-right: 1px solid var(--gray-50);
}

.actions-card:nth-child(4) {
    display: flex;
    gap: 1rem;
}

.search {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search svg {
    color: var(--white);
}

.services {
    padding-top: 12rem;
    display: grid;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.services-header {
    max-height: 190px;
    overflow: hidden;
}

.services-product {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 10px var(--gray-50);
}

.services-content {
    padding: 1rem;
}

.services-title {
    display: flex;
    justify-content: space-between;
}

.services-price {
    font-weight: 400;
}

.services-address {
    color: var(--text-gray);
    margin-top: 1rem;
}

.services-img {
    object-fit: cover;
}

.title {
    text-align: center;
}

.footer {
    margin-top: 5rem;
    padding: 1rem;
    background-color: #f0f0f0;
}

.footer-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.footer h2 {
    font-size: var(--font-normal);
}

.footer ul {
    font-size: var(--font-medium);
    line-height: 2;
}

.copy {
    margin-top: 2rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3rem;
}

.line {
    border-bottom: 2px solid var(--primary);
    min-width: 150px;
}

@media screen and (min-width:768px) {
    .services {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:1024px) {
    .main-header {
        padding: 0rem 4rem;
    }

    .slider,
    .main-header {
        max-width: 1440px;
        margin: 0 auto;
    }

    .slider-hero {
        height: 400px;
    }

    .slider-title {
        font-size: var(--font-xlarge);
    }

    .actions {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .slider-card {
        bottom: -1rem;
    }

    .services,
    .title {
        padding-top: 4rem;
    }

    .services {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}